body{
  background-color:black;
}
h1{
  text-align: center;
  font-family: 'Righteous', cursive;
  border: 10px double white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 30px;
  background-color: red;
  font-size: 50px;
}

.home{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-bottom: 75px;
  margin-top: 75px;
  border: 10px double white;

}


a{
margin-left: auto;
margin-right: auto;
text-align:center;
width: 25%;
font-family: 'Righteous',cursive;
padding: 25px;
color: black;
}
.portfolio{
  border: 10px double white;
  background-color: #40ff40;
  width: 25%;
  text-align: center;
  margin-left: Auto;
  margin-right: auto;
  margin-bottom: 75px;
  font-size: 35px;
  padding: 25px;

}

.aboutme{
  border: 10px double white;
  background-color: #57b3ff;
  width: 25%;
  text-align: center;
  margin-left: Auto;
  margin-right: auto;
  margin-bottom: 75px;
  font-size: 35px;
  padding: 25px;

}



